<div class="site-footer__widget footer-contacts">

    <div class="footer-contacts__text" [innerHTML]="settings.description">
    </div>

     <ul class="footer-contacts__contacts">
        <li><i class="footer-contacts__icon fas fa-globe-americas"></i> 223 AGBA 5000 Monastir - Tunisie
            Prés de la Foire de Monastir </li>
        <li><i class="footer-contacts__icon far fa-envelope"></i>Service Commercial : tunisie.accastillage@gmail.com</li>
        <li><i class="footer-contacts__icon far fa-envelope"></i>Support technique : technique@tunisie-accastillage.com</li>
        <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> Tél: +216 98 40 22 55 / +216 95 50 27 45 </li>
        <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> Fax: +216 73 26 38 05 </li>
    </ul> 
</div>
